/* * {
  box-sizing: border-box;
} */

.container {
  position:relative;
}

.container div {
  width:100px;
  height: 100px;
}

.div1 {
  float: left;
  background-color: red;
}

div.div2 {
  width: 200px;
  background-color: blue;
}

.div3{
  background-color: green;
}